extends base

block content

   section.content-main#author
    .content-header
      h2.content-title Danh sách tác giả
      select.filter
        option(value="name") Sắp xếp theo tên( A - Z)
        option(value="-name") Sắp xếp theo tên( Z - A)
        option(value="-createdAt") Sắp xếp theo mới nhất
        option(value="createdAt") Sắp xếp theo cũ nhất
      button.btn-new(type='button' data-bs-toggle='modal' data-bs-target='#addNewModal')
        | Thêm mới
      
    .cart-body
      table#table

    .pagination
    #addNewModal.modal.fade(tabindex='-1' aria-labelledby='addNewModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title
                  | Thêm mới
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                .mb-3
                  label.form-label(for='nameAuthor') Tên Tác Giả
                  input#nameAuthor.form-control(type='text')
                
              .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                  | Đóng
                button.btn.btn-primary.btn-addAuthor(type='submit')
                  | Đăng

    #deleteModal.modal.fade(tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title
                  | Bạn có chắc chắn muốn xoá Tác giả này
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
     
              .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                  | Đóng
                button.btn.btn-danger.btn-delete
                  | Xoá

    #updateModal.modal.fade(tabindex='-1' aria-labelledby='updateModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title
                  | Cập nhật
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                .mb-3
                  label.form-label(for='nameAuthorUpdate') Tên Tác Giả
                  input#nameAuthorUpdate.form-control(type='text')
                
                
              .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                  | Đóng
                button.btn.btn-primary.btn-update-author(type='submit')
                  | Cập nhật

    #infoModal.modal.fade(tabindex='-1' aria-labelledby='infoModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title
                  | Cập nhật
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                .mb-3
                  label.form-label(for='nameAuthorInfo') Tên Tác Giả
                  input#nameAuthorInfo.form-control(type='text' readonly)
                .mb-3
                  label.form-label(for='slugInfo') Slug
                  input#slugInfo.form-control(type='text' readonly)
                
              .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                  | Đóng




