doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  link(rel='stylesheet' href='/css/bootstrap.min.css')
  link(href='/css/chosen.min.css' rel='stylesheet')
  link(rel='icon' type='image/x-icon' href='/img/logo.png')

  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css')
  link(rel='stylesheet' href='/css/admin.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Admin Dashboard
.msg.animate.slide-in-down
#main.navbar
  .navbar-top
    a.brand-link(href='/admin') Spider
    .btn-minimize
      i.bi.bi-list
  nav
    ul.menu
      li.menu-item
        a.menu-link(href='/admin')
          i.bi.bi-house
          | Tổng Quan
      li.menu-item
        a.menu-link(href='/admin/product')
          i.bi.bi-box-seam
          | Sản Phẩm
      li.menu-item
        a.menu-link(href='/admin/category')
          i.bi.bi-card-checklist
          | Danh Mục
      li.menu-item
        a.menu-link(href='/admin/author')
          i.bi.bi-book
          | Tác giả
      li.menu-item
        a.menu-link(href='/admin/ship')
          i.bi.bi-truck
          | Vận Chuyển
      li.menu-item
        a.menu-link(href='/admin/user')
          i.bi.bi-people
          | Người Dùng
      li.menu-item
        a.menu-link(href='/admin/order')
          i.bi.bi-cart-dash
          | Đơn Hàng
.main-wrap
  header.main-header
    .dropdown
      #dropdownMenuLink.avatar(data-bs-toggle='dropdown' aria-expanded='false')
        | K
      ul.dropdown-menu(aria-labelledby='dropdownMenuLink')
        li
          a.dropdown-item.logout(href='#') Đăng xuất

  block content
script(type='text/javascript' src='/js/static/bootstrap.bundle.min.js')
script(type='text/javascript' src='/js/static/jquery-3.6.0.min.js')
script(type='text/javascript' src='/js/static/axios.min.js')
script(type='text/javascript' src='/js/static/chosen.jquery.min.js')
//- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
script(type='text/javascript' src='/js/static/bootstrap-select.min.js')
script(type='text/javascript' src='/js/admin/bundle.js')
