extends base

block content

   section.content-main
    .content-header
      h2.content-title Danh sách danh mục
      button.btn-new(type='button' data-bs-toggle='modal' data-bs-target='#addNewModal')
        | Th&ecirc;m m&#x1EDB;i
      #addNewModal.modal.fade(tabindex='-1' aria-labelledby='addNewModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
            form.form--category
              .modal-header
                h5#exampleModalLabel.modal-title
                  | Thêm mới
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                .mb-3
                  label.form-label(for='nameCategory') Tên Danh Mục
                  input#nameCategory.form-control(type='text')
                
              .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                  | Close
                button.btn.btn-primary(type='submit')
                  | Đăng
    .cart-body
      each product in products
        .item-list
          .row.align-items-center
            .col-lg-4.col-sm-4.col-8.flex-grow-1.col-name
              .itemside
                .info= product.name
            .col-lg-2.col-sm-2.col-4.col-price
              span= `${product.slug}`
            .col-lg-2.col-sm-2.col-4.col-status
              //- span= `${product.qty} `
            .col-lg-1.col-sm-2.col-4.col-date
              span= `${product.createdAt.toLocaleDateString()}`
            .col-lg-2.col-sm-2.col-4.col-action.text-end
              .btn.btn-sm.font-sm.rounded.btn-brand 
                i.bi.bi-pencil
                | Sửa
              .btn.btn-sm.font-sm.btn-light.rounded.btn.btn-sm
                i.bi.bi-trash
                | Xoá
