extends base

block content

   section.content-main#product
    .content-header
      h2.content-title Danh Mục Sản Phẩm
      button.btn-new(type='button' data-bs-toggle='modal' data-bs-target='#addNewModal')
        | Thêm Mới
      
    .cart-body
      table#table(style='text-align: center')

    .pagination
    #addNewModal.modal.fade(tabindex='-1' aria-labelledby='addNewModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title
                | Thêm Sản Phẩm
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
              .mb-3
                label.form-label(for='imageProduct') Ảnh Sản Phẩm
                .wrap
                  input#imageProduct.form-control(type='file')
                  img.imgShow
                button.btn.btn-secondary.uploadButton
                  | Upload IMG
              .mb-3
                label.form-label(for='nameProduct') Tên Sản Phẩm
                input#nameProduct.form-control(type='text')
              .mb-3
                label.form-label(for='priceProduct') Giá Sản Phẩm
                input#priceProduct.form-control(type='number')
              .mb-3
                label.form-label(for='quantityProduct') Số Lượng
                input#quantityProduct.form-control(type='number')
              .mb-3
                label.form-label(for='authorSelect') Tác Giả
                select#authorSelect.chosen-select(data-placeholder='Chọn tên phân loại' multiple='' name='test')
                  option(value='')
                  each author in authors
                    option(value= author.id)= author.name
                    
              .mb-3
                label.form-label(for='categorySelect') Danh Mục
                select#categorySelect.chosen-select(data-placeholder='Chọn tên phân loại' multiple='' name='test')
                  option(value='')
                  each category in categories
                    option(value= category.id)= category.name
              .mb-3
                label.form-label(for='description') Mô tả
                textarea#description.form-control(rows='3')
            .modal-footer
              button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                | Close
              button.btn.btn-primary.btn-addProduct(type='button')
                | Save changes

    #deleteModal.modal.fade(tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title
                  | Bạn có chắc chắn muốn xoá Tác giả này
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
     
              .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                  | Đóng
                button.btn.btn-danger.btn-delete
                  | Xoá

    #updateModal.modal.fade(tabindex='-1' aria-labelledby='updateModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title
                | Sửa Sản Phẩm
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
              .mb-3
                label.form-label(for='imageProductUpdate') Ảnh Sản Phẩm
                .wrap
                  input#imageProductUpdate.form-control(type='file')
                  img.imgShowUpdate
                button.btn.btn-secondary.uploadButtonUpdate
                  | Upload IMG
              .mb-3
                label.form-label(for='nameProductUpdate') Tên Sản Phẩm
                input#nameProductUpdate.form-control(type='text')
              .mb-3
                label.form-label(for='priceProductUpdate') Giá Sản Phẩm
                input#priceProductUpdate.form-control(type='number')
              .mb-3
                label.form-label(for='quantityProductUpdate') Số Lượng
                input#quantityProductUpdate.form-control(type='number')
              .mb-3
                label.form-label(for='slugProductUpdate') Slug
                input#slugProductUpdate.form-control(type='text')
              .mb-3
                label.form-label(for='authorSelectUpdate') Tác Giả
                select#authorSelectUpdate.chosen-select(data-placeholder='Chọn tên phân loại' multiple='' name='test')
                  option(value='')
                  each author in authors
                    option(value= author.id)= author.name
                    
              .mb-3
                label.form-label(for='categorySelectUpdate') Danh Mục
                select#categorySelectUpdate.chosen-select(data-placeholder='Chọn tên phân loại' multiple='' name='test')
                  option(value='')
                  each category in categories
                    option(value= category.id)= category.name
              .mb-3
                label.form-label(for='descriptionProductUpdate') Mô tả
                textarea#descriptionProductUpdate.form-control(rows='3')
            .modal-footer
              button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                | Đóng
              button.btn.btn-primary.btn-update-product(type='button')
                | Cập nhật
