extends base

block content

   section.content-main#user
    .content-header
      h2.content-title Danh sách người dùng
      button.btn-new(type='button' data-bs-toggle='modal' data-bs-target='#addNewModal')
        | Thêm mới
      
    .cart-body
      table#table

    .pagination
    #addNewModal.modal.fade(tabindex='-1' aria-labelledby='addNewModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title
                  | Thêm mới
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                .mb-3
                  label.form-label(for='nameUser') Tên Người Dùng
                  input#nameUser.form-control(type='text')
                .mb-3
                  label.form-label(for='emailUser') Email
                  input#emailUser.form-control(type='email')
                .mb-3
                  label.form-label(for='passwordUser') Mật Khẩu
                  input#passwordUser.form-control(type='password')
                .mb-3
                  label.form-label(for='roleUser') Chức Vụ
                  select#roleUser.form-control(type='text')
                    option(value='user') Người dùng
                    option(value='admin') Quản trị viên
                
                
              .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                  | Đóng
                button.btn.btn-primary.btn-addUser(type='submit')
                  | Đăng

    #deleteModal.modal.fade(tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title
                  | Bạn có chắc chắn muốn xoá người dùng này
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
     
              .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                  | Đóng
                button.btn.btn-danger.btn-delete
                  | Xoá

    #updateModal.modal.fade(tabindex='-1' aria-labelledby='updateModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title
                  | Cập nhật
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                .mb-3
                  label.form-label(for='nameUserUpdate') Tên Người Dùng
                  input#nameUserUpdate.form-control(type='text')
                .mb-3
                  label.form-label(for='emailUserUpdate') Email
                  input#emailUserUpdate.form-control(type='email')
                .mb-3
                  label.form-label(for='roleUserUpdate') Chức Vụ
                  select#roleUserUpdate.form-control(type='text')
                    option(value='user') Người dùng
                    option(value='admin') Quản trị viên

              .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                  | Đóng
                button.btn.btn-primary.btn-update-user(type='submit')
                  | Cập nhật


    #infoModal.modal.fade(tabindex='-1' aria-labelledby='infoModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title
                  | Thông tin người dùng
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                .mb-3
                  label.form-label(for='nameUserInfo') Tên Người Dùng
                  input#nameUserInfo.form-control(type='text' readonly)
                .mb-3
                  label.form-label(for='emailUserInfo') Email
                  input#emailUserInfo.form-control(type='email' readonly)
                .mb-3
                  label.form-label(for='roleUserInfo') Chức Vụ
                  select#roleUserInfo.form-control(type='text' readonly)
                    option(value='user' disabled) Người dùng
                    option(value='admin' disabled) Quản trị viên

              .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                  | Đóng
